<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"></link>
    <title>Medical Claim</title>
    <style>

        .container{
            font-size: 1.2em;
            margin: 10px 1cm;
        }

        h3{
            text-align: center;
            text-decoration: underline;
            font-weight: bold;
            margin-bottom: 30px;
        }

        body {
            width: 8.27in;
            /* height: 11.69in;*/
            margin: 0 auto;
            padding: 0;
            page-break-inside: avoid;
        }

        .avoid-page-break {
            page-break-after: avoid;
        }
    </style>
</head>
<body>
<script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
<div class='container'>
    <h3 style='text-align:center; margin-bottom:40px;'><b><u>NOTE SHEET</u></b></h3>
    <div th:inline="text">FR:-&nbsp; &nbsp; &nbsp; &nbsp; Diary No. [[${diaryEntry.diaryNumber}]]/Genl. Br. (SED) dated [[${diaryEntry.diaryDate}]]</div>
    <div>
        <table style='width:100%;margin-top:10px;'>
            <tr>
                <td style='vertical-align:top'>Subject:-</td>
                <td style='text-align:justify;' th:inline="text"><b>An application submitted by [[${diaryEntry.displayName}]] (PIS No. [[${diaryEntry.applicant.pisNumber}]]) regarding grant of permission for taking treatment in empanelled hospital under CGHS.</b></td>
            </tr>
        </table>
    </div>
    <p style='text-indent:8%;text-align:justify;' th:inline="text">FR along with its enclosures may kindly be persued vide which [[${diaryEntry.displayName}]] (PIS No. [[${diaryEntry.applicant.pisNumber}]]) has requested that [[${diaryEntry.applicant.gender.getHeOrShe()}]]  may be granted permission for taking treatment of [[${diaryEntry.applicant.gender.getHisOrHer()}]]  [[${diaryEntry.claimDetails.relation.getEnumValue()}]] (relation of the patient) in [[${diaryEntry.hospital.hospitalName}]] as CMO-CGHS Dispensary/Govt. Hospital. $value[hospital_name] has referred to [[${diaryEntry.applicant.gender.getHisOrHer()}]] [[${diaryEntry.claimDetails.relation.getEnumValue()}]] (relation of patient) treatment at any CGHS approved Hospital.</p>
    <p style='text-indent:8%;text-align:justify;' th:inline="text">In this connection, it is submitted that the CMO-CGHS Dispensary/Govt. Hospital has referred to any CGHS approved Hospital. As such, Addl. DCP/SED (H.O.O) may like to accord permission to [[${diaryEntry.displayName}]] (PIS No. [[${diaryEntry.applicant.pisNumber}]]) for treatment of [[${diaryEntry.applicant.gender.getHisOrHer()}]] [[${diaryEntry.claimDetails.relation.getEnumValue()}]] in [[${diaryEntry.hospital.hospitalName}]]. [[${diaryEntry.applicant.gender.getHeOrShe()}]]  is a CGHS beneficiary having a valid CGHS card ID No. [[${diaryEntry.applicant.cghsNumber}]]. [[${diaryEntry.applicant.gender.getHeOrShe()}]]  is entitled for <b>[[${diaryEntry.applicant.cghsCategory}]] Ward Category</b> (calculated as per basic pay of Govt. Servant).
        Permission is valid for __________________ w.e.f. [[${diaryEntry.claimDetails.startDate}]].</p>
    <div style='margin-top:75px;'><b><u>HAG/SE</u></b></div>
    <div style='margin-top:15px;'><b><u>INSPR. ADMN.</u></b></div>
    <div style='margin-top:15px;'><b><u>ACP/HQ</u></b></div>
    <div style='margin-top:15px;'><b><u>ADDL. DCP/SED</u></b></div>
</div>
</body>
</html>