<div th:fragment="claimViewModal">

<div class="modal fade" id="claimViewModal" tabindex="-1" aria-labelledby="claimViewModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="claimViewModalLabel">View Claim</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="claimEditForm">
          <input type="hidden" class="form-control" id="claim-id" name="id">
          <div class="mb-3">
            <div>
              <span><b>Diary Number: </b></span>
              <p id="displayDiaryNumber"></p>
            </div>

            <div class="row">
              <table id="applicantsDisplayTable" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Sl. No.</th>
                  <th>Name & Belt No. Applicant</th>
                  <th>Amount</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
              </table>
            </div>
          </div>
        </form>

        <div style="display: flex; justify-content: space-between;">
          <a class="btn btn-primary btn-sm" id="printHealthNotesheet" target="_blank">Notesheet</a>
          <a class="btn btn-primary btn-sm" id="printHealthOrder" target="_blank">Order</a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  const claimViewModal = document.getElementById('claimViewModal');
  debugger;
  claimViewModal.addEventListener('show.bs.modal', function (event) {
    const button = event.relatedTarget;
    const id = button.getAttribute('data-bs-id');
    const modalTitle = diaryEntryModal.querySelector('.modal-title');
    modalTitle.textContent = 'View Claim';

    $("#printHealthNotesheet").attr("href", "/printHealthNotesheet/" + id);
    $("#printHealthOrder").attr("href", "/printHealthOrder/" + id);

    if(id != null) {
      $.ajax({
        type: "POST",
        url: "/healthCheckupDiaryEntry/" + id,
        success: function(response) {
          $("#displayDiaryNumber").text(response.displayDiaryNumber);
          var applicants = response.healthCheckupApplicants;
          var tbody = $("#applicantsDisplayTable tbody");
          tbody.empty();

          $.each(applicants, function(i, applicant) {
            var row = '<tr>' +
                    '<td>' + (i+1) + '</td>' +
                    '<td>' + applicant.applicantDetails + '</td>' +
                    '<td>' + applicant.amount + '</td>' +
                    '</tr>';
            tbody.append(row);
          });

          tbody.append(tbody.append('<tr>' +
                  '<td></td>' +
                  '<td style="text-align: right;">Total</td>' +
                  '<td>' + response.totalAdmissibleAmount + '</td>' +
                  '</tr>'));
        },
        error: function (jqXHR, exception) {
          if (jqXHR.status === 404) {
            console.log("DiaryEntry with id " + id + " not found");
          } else {
            console.log("Error fetching data: ", exception);
          }
        }
      });
    }

  })
</script>


</div>