<div th:fragment="diaryEntryModal">

<div class="modal fade" id="diaryEntryModal" tabindex="-1" aria-labelledby="diaryEntryModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <form id="diaryEntryCreateForm">
      <div class="modal-header">
        <h5 class="modal-title" id="diaryEntryModalLabel">Create a New Diary Entry</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <input type="hidden" class="form-control" id="claimType" name="claimType">
          <input type="hidden" class="form-control" id="id" name="id">
          <div class="box-body">

            <div class="row">
              <div class="row">
                <table id="applicantsTable" class="table">
                  <thead>
                  <tr>
                    <th>Name</th>
                    <th>Register Number</th>
                    <th>Amount</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>

              <div class="row">
                <div class="col-9"></div>
                <div class="col-3">
                  <button id="addRow" type="button" class="btn btn-primary btn-sm">Add Row</button>
                </div>


              </div>

            </div>

            </div>
      </div>
      <div class="modal-footer">
        <button type="reset" class="btn btn-warning">Reset</button>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
      </form>
    </div>
  </div>
</div>

  <script>

    var counter = 0;
    function addRow(values) {
      let row;
      if(values != null) {
        row = '<tr>' +
                '<td><input type="text" class="form-control" name="healthCheckupApplicants[' + counter + '].applicantDetails" required value="' + values.applicantDetails + '"></td>' +
                '<td><input type="text" class="form-control" name="healthCheckupApplicants[' + counter + '].registerNumber" required value="' + values.registerNumber + '"></td>' +
                '<td><input type="number" class="form-control" name="healthCheckupApplicants[' + counter + '].amount" required value="' + values.amount + '"></td>' +
                '<td><button type="button" class="btn btn-danger deleteRow">Delete</button></td>' +
                '</tr>';
      } else {
        row = '<tr>' +
                '<td><input type="text" class="form-control" name="healthCheckupApplicants[' + counter + '].applicantDetails" required></td>' +
                '<td><input type="text" class="form-control" name="healthCheckupApplicants[' + counter + '].registerNumber" required></td>' +
                '<td><input type="number" class="form-control" name="healthCheckupApplicants[' + counter + '].amount" required value="2000"></td>' +
                '<td><button type="button" class="btn btn-danger deleteRow">Delete</button></td>' +
                '</tr>';
      }
      $("#applicantsTable tbody").append(row);
      counter++;
    }

  </script>

<script>
  const diaryEntryModal = document.getElementById('diaryEntryModal');

  diaryEntryModal.addEventListener('hidden.bs.modal', function () {
    $("#applicantsTable tbody").empty()
  });

  diaryEntryModal.addEventListener('show.bs.modal', function (event) {
    const button = event.relatedTarget;
    const type = button.getAttribute('data-bs-type');
    const id = button.getAttribute('data-bs-id');

    const modalTitle = diaryEntryModal.querySelector('.modal-title');
    modalTitle.textContent = type;

    if(id != null) {
      $.ajax({
        type: "POST",
        url: "/healthCheckupDiaryEntry/" + id,
        success: function(response) {

          console.log(response);
          $("#id").val(response.id);
          for(var i = 0; i < response.healthCheckupApplicants.length; i++) {
            addRow(response.healthCheckupApplicants[i]);
          }

        },
        error: function (jqXHR, exception) {
          if (jqXHR.status === 404) {
            console.log("DiaryEntry with id " + id + " not found");
          } else {
            console.log("Error fetching data: ", exception);
          }
        }
      });
    }



  })
</script>
<script>

  $("#diaryEntryCreateForm").on("submit", function(event) {
    event.preventDefault();
    submitForm();
  });

  function submitForm() {
    var data = $("#diaryEntryCreateForm").serializeArray().reduce(function(obj, item) {
      obj[item.name] = item.value;
      return obj;
    }, {});

    $.ajax({
      type:"post",
      data:data,
      url:"/healthDiaryEntryCreate",
      async: false,
      dataType: "json",
      success: function(response){
        const  messageDiv = $("#message-div");
        messageDiv.html(
                '<div class="alert alert-success alert-dismissible fade show"  role="alert">' +
                response.name + ' updated successfully.' + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>' +
                '</div>');
        $('#diaryEntryModal').modal('toggle');
        $('#diaryEntries').DataTable().ajax.reload();
      },
      error: function (jqXHR, exception) {
        const  messageDiv = $("#message-div");
        messageDiv.html(
                '<div class="alert alert-warning alert-dismissible fade show"  role="alert">' +
                exception + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>' +
                '</div>');
        $('#diaryEntryModal').modal('toggle');
      }
    });

  }
</script>

  <script>
    $(document).ready(function() {
      $("#addRow").click(function() {
        addRow(null);
      });

      $("#applicantsTable").on('click', '.deleteRow', function() {
        $(this).closest('tr').remove();
      });
    });
  </script>

</div>