<div th:fragment="indRefDiaryEntryModal">

<div class="modal fade" id="indRefDiaryEntryModal" tabindex="-1" aria-labelledby="indRefDiaryEntryModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <form id="indRefDiaryEntryCreateForm">
      <div class="modal-header">
        <h5 class="modal-title" id="indRefDiaryEntryModalLabel">Create a New Diary Entry</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

          <input type="hidden" class="form-control" id="claimType" name="claimType">
          <input type="hidden" class="form-control" id="id" name="id">
          <div class="box-body">

            <div class="row">
              <div class="row">
                <table id="applicantsTable" class="table">
                  <thead>
                  <tr>
                    <th>Register No.</th>
                    <th>Name</th>
                    <th>Relationship</th>
                    <th>Amount</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr>
                    <td><input type="text" class="form-control" name="referralApplicants[0].registerNumber" required></td>
                    <td><input type="text" class="form-control" name="referralApplicants[0].applicantDetails" required></td>
                    <td>
                       <select class="form-control" id="relation_0" name="referralApplicants[0].relation" required>
                           <option th:each="relation : ${T(com.delhipolice.mediclaim.constants.Relation).values()}" th:value="${relation}" th:text="${relation.getEnumValue()}"></option>
                         </select>
                      </td>
                    <td><input type="text" class="form-control" name="referralApplicants[0].amount" required></td>
                    <td></td>
                    </tr>'
                  </tbody>
                </table>
              </div>

              <div class="row">
                <div class="col-10">
                  </div>
                <div class="col-2">
                  <button id="addRow" type="button" class="btn btn-primary btn-sm">Add Row</button>
                </div>
              </div>
            </div>

            </div>

      </div>
      <div class="modal-footer">
        <button type="reset" class="btn btn-warning">Reset</button>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
      </form>
    </div>
  </div>
</div>

<script>

  $("#indRefDiaryEntryCreateForm").on("submit", function(event) {
    event.preventDefault();
    submitForm();
  });

  const indRefDiaryEntryModal = document.getElementById('indRefDiaryEntryModal');

  indRefDiaryEntryModal.addEventListener('hidden.bs.modal', function () {
    $("#applicantsTable tbody").empty()
    $("#id").val('');
  });

  indRefDiaryEntryModal.addEventListener('show.bs.modal', function (event) {
    const button = event.relatedTarget;
    const type = button.getAttribute('data-bs-type');
    const id = button.getAttribute('data-bs-id');

    const modalTitle = indRefDiaryEntryModal.querySelector('.modal-title');
    modalTitle.textContent = type;

    if(id != null) {
      $.ajax({
        type: "POST",
        url: "/indRefDiaryEntry/" + id,
        success: function(response) {
          console.log(response);
            $("#id").val(response.id);
            $("#applicantsTable tbody").empty();
            for(var i = 0; i < response.referralApplicants.length; i++) {
              addRow(response.referralApplicants[i]);
              $("#relation_" + (counter-1)).val(response.referralApplicants[i].relation);
              $("#relation_" + (counter-1)).trigger("change");
            }

        },
        error: function (jqXHR, exception) {
          if (jqXHR.status === 404) {
            console.log("indRefDiaryEntry with id " + id + " not found");
          } else {
            console.log("Error fetching data: ", exception);
          }
        }
      });
    }



  });

  $('#indRefDiaryEntryModal').on('hidden.bs.modal', function () {
    $('#indRefDiaryEntryCreateForm')[0].reset();
    $("#applicantsTable tbody").empty();

    counter = 0;
    addRow(null);
  });
</script>
<script>

  function submitForm() {
    var data = $("#indRefDiaryEntryCreateForm").serializeArray().reduce(function(obj, item) {
      obj[item.name] = item.value;
      return obj;
    }, {});

    console.log(data);

    $.ajax({
      type:"post",
      data:data,
      url:"/indRefDiaryEntryCreate",
      async: false,
      dataType: "json",
      success: function(response){
        const  messageDiv = $("#message-div");
        messageDiv.html(
                '<div class="alert alert-success alert-dismissible fade show"  role="alert">' +
                response.name + ' updated successfully.' + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>' +
                '</div>');
        $('#indRefDiaryEntryModal').modal('toggle');
        $('#diaryEntries').DataTable().ajax.reload();
        $("#id").val("");
      },
      error: function (jqXHR, exception) {
        const  messageDiv = $("#message-div");
        messageDiv.html(
                '<div class="alert alert-warning alert-dismissible fade show"  role="alert">' +
                exception + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>' +
                '</div>');
        $('#indRefDiaryEntryModal').modal('toggle');
        $("#id").val("");
      }
    });

  }
</script>

  <script>
    $(document).ready(function() {
      $("#addRow").click(function() {
        addRow(null);
      });

      $("#applicantsTable").on('click', '.deleteRow', function() {
        $(this).closest('tr').remove();
      });
    });
  </script>

  <script>
    var options = $('#relation_0 option').clone();
    var counter = 1;
    function addRow(values) {
      var row;
      if(values != null) {
        row = '<tr>' +
                '<td><input type="text" class="form-control" name="referralApplicants[' + counter + '].registerNumber" value="' + values.registerNumber + '" required></td>' +
                '<td><input type="text" class="form-control" name="referralApplicants[' + counter + '].applicantDetails" value="' + values.applicantDetails + '" required></td>' +
                '<td>' +
                ' <select class="form-control relation" id="relation_'+ counter +'" name="referralApplicants[' + counter + '].relation" required>' +
                ' </select>' +
                '</td>' +
                '<td><input type="number" class="form-control" name="referralApplicants[' + counter + '].amount" value="' + values.amount + '" required></td>' +
                '<td><button type="button" class="btn btn-danger deleteRow">Delete</button></td>' +
                '</tr>';
      } else {
        row = '<tr>' +
                '<td><input type="text" class="form-control" name="referralApplicants[' + counter + '].registerNumber" required></td>' +
                '<td><input type="text" class="form-control" name="referralApplicants[' + counter + '].applicantDetails" required></td>' +
                '<td>' +
                ' <select class="form-control relation" id="relation_'+ counter +'" name="referralApplicants[' + counter + '].relation" required>' +
                ' </select>' +
                '</td>' +
                '<td><input type="number" class="form-control" name="referralApplicants[' + counter + '].amount" required></td>' +
                '<td><button type="button" class="btn btn-danger deleteRow">Delete</button></td>' +
                '</tr>';
      }
      $("#applicantsTable tbody").append(row);

      $('#relation_' + counter).append(options.clone());

      counter++;
    }

  </script>

</div>