<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Medical Claim</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"></link>
    <link th:href="@{/css/printstyles.css}" rel="stylesheet"></link>
</head>
<body>
<div class='container' style='margin-top:15px; font-size:1em;'>
    <img th:src="@{/images/img.png}" height="50" alt="" loading="lazy" style="display: block; margin: auto;" />
    <h3 style='text-align:center;'><b><u>OFFICE OF THE DY. COMMISSIONER OF POLICE: [[${diaryEntry.branchCode}]] (HQ), DELHI,</u></b></h3>
    <h3><u><b>[[${diaryEntry.branchAddress}]]</b></u></h3>
    <h3><u><b>TELEPHONE NO. [[${diaryEntry.branchPhoneNo}]]</b></u></h3>
    <p style='text-align:justify' th:inline="text" >[[${diaryEntry.displayDiaryNumber}]]</p>

    <table style="border: none;">
        <tr>
            <td style="vertical-align: top;border: none;">To,</td>
            <td style="border: none;">
                <p th:inline="text" style='padding-left:5%;'><br/>The Deputy Commissioner of Police<br>General Administration, Delhi</p>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top; border: none;"><b>Subject:-</b></td>
            <td style="border: none;"><p th:inline="text" style='padding-left:5%;'><b>Re-imbursement of medical claim in respect of  [[${diaryEntry.patientApplicantDisplay}]].</b></p></td>
        </tr>
    </table>
    <p style='margin:0;'>Memo,</p>

    <p  style='text-indent:12%;text-align:justify;margin-top: 10px;'>
        Enclosed please find herewith a medical claim amounting to <b>Rs. [[${diaryEntry.amountGranted1}]]/-</b> received from <b>Medical Superintendent, [[${diaryEntry.hospital.hospitalName}]], [[${diaryEntry.hospital.hospitalAddress}]]</b> for the treatment of <b>[[${diaryEntry.patientApplicantDisplay}]]</b> in emergency on credit basis. As per the details given below:-
    </p>

    <table class='table w-auto small main-table'>
        <thead>
        <tr>
            <th>Rank, Name & No. treatment taken by</th>
            <th>Name of Hospital</th>
            <th>Name of Diesease</th>
            <th>Period</th>
            <th>Amount Claimed</th>
            <th>Amount Admissible</th>
        </tr>

        </thead>
        <tbody>
        <tr>
            <td>[[${diaryEntry.applicant.rank.getEnumValue()}]] [[${diaryEntry.applicant.name}]] [[${diaryEntry.applicant.beltNumber}]] ([[${diaryEntry.claimDetails.relation.getEnumValue()}]])</td>
            <td>[[${diaryEntry.hospital.hospitalName}]]</td>
            <td>[[${diaryEntry.claimDetails.disease}]]</td>
            <td>[[${#dates.format(diaryEntry.claimDetails.startDate, diaryEntry.dateFormat)}]] <br/>to <br/>[[${#dates.format(diaryEntry.claimDetails.endDate, diaryEntry.dateFormat)}]]</td>
            <td>[[${diaryEntry.amountAsked1}]]</td>
            <td>[[${diaryEntry.amountGranted1}]]</td>
        </tr>
        </tbody>
    </table>
    <p style='text-indent:12%;text-align:justify;' th:inline="text">
        Funds for this purpose are available under head [[${diaryEntry.fundsHead}]] during the current financial year <b>[[${diaryEntry.financialYear}]]</b>.
    </p>

    <p style='text-indent:12%;text-align:justify;' th:inline="text">
        It is, therefore, requested that necessary ex-post-facto sanction of the competent authority for making the payment to <b>[[${diaryEntry.hospital.hospitalName}]], [[${diaryEntry.hospital.hospitalAddress}]]</b> may kindly be obtained and conveyed to this office at the earliest.
    </p>

    <div class="row" style="margin-top: 20px;">
        <div class="col-6">
            <p th:if="${renderSignature} == 'true'" class='row' style="margin-top: 20px;">
                <p th:if="${renderSignature} == 'true'">Encls.:- <b><u>As above</u></b>:-<br/>Submitted for favour of signatures please.</p>
                <p th:if="${renderSignature} == 'true'" style='margin-top:30px;'><u><b>HAG/[[${diaryEntry.branchCode}]]</b></u></p>
                <p th:if="${renderSignature} == 'true'" style='margin-top:30px;'><u><b>INSPR. (A)/[[${diaryEntry.branchCode}]]</b></u></p>
                <p th:if="${renderSignature} == 'true'" style='margin-top:30px;'><u><b>ACP/HQ/[[${diaryEntry.branchCode}]]</b></u>
            </p>
        </div>
        <div class="col-6">
            <div style='text-align:right;font-weight:bold;'>ACP/HQ</div>
            <div style='text-align:right;'>For DY. COMMISIONER OF POLICE,</div>
            <div style='text-align:right;'>[[${diaryEntry.branchCode}]]: (HQ) :DELHI.</div>
        </div>
    </div>
    </div>

</div>
</body>
</html>