<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Notesheet</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"></link>
    <link th:href="@{/css/notesheetStyles.css}" rel="stylesheet"></link>
</head>
<body>
<script th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
<div class='container'>
<div class="borderDiv">
    <div class="row">
        <div class="col-1">
            <b>FR:-</b>
        </div>
        <div class="col-11" style="padding-right: unset;text-align: justify;">
            <b>Regarding re-imbursement of medical claim in respect of [[${diaryEntry.patientApplicantDisplay}]]</b>
        </div>
    </div>

    <p  style='text-indent:8%;text-align:justify;margin-top: 10px;'>
        It is submitted that, a medical claim amounting to <b>Rs. [[${diaryEntry.amountGranted1}]]/-</b> received from <b>Medical Superintendent, [[${diaryEntry.hospital.hospitalName}]], [[${diaryEntry.hospital.hospitalAddress}]]</b> for the treatment of <b>[[${diaryEntry.patientApplicantDisplay}]]</b> in emergency on credit basis. As per the details given below:-
    </p>

    <table class='table main-table w-auto small'>
        <thead>
        <tr>
            <th>Rank, Name & No. treatment taken by</th>
            <th>Name of Hospital</th>
            <th>Name of Diesease</th>
            <th>Period</th>
            <th>Amount Claimed</th>
            <th>Amount Admissible</th>
        </tr>

        </thead>
        <tbody>
        <tr>
            <td>[[${diaryEntry.applicant.rank.getEnumValue()}]] [[${diaryEntry.applicant.name}]]<br/>
                No. [[${diaryEntry.applicant.beltNumber}]] <br/>
                (PIS No. [[${diaryEntry.applicant.pisNumber}]])<br/>
                ([[${diaryEntry.claimDetails.relation.getEnumValue()}]])</td>
            <td>[[${diaryEntry.hospital.hospitalName}]]</td>
            <td>[[${diaryEntry.claimDetails.disease}]]</td>
            <td>[[${#dates.format(diaryEntry.claimDetails.startDate, diaryEntry.dateFormat)}]] <br/>to <br/>[[${#dates.format(diaryEntry.claimDetails.endDate, diaryEntry.dateFormat)}]]</td>
            <td th:text="'Rs. ' + ${#numbers.formatInteger(diaryEntry.amountAsked1, 0, 'COMMA')} + '/-'"></td>
            <td th:text="'Rs. ' + ${#numbers.formatInteger(diaryEntry.amountGranted1, 0, 'COMMA')} + '/-'"></td>
        </tr>
        </tbody>
    </table>

    <p style='text-indent:8%;text-align:justify;' th:inline="text">
        It is, therefore, requested if approved, we may request to PHQ for obtaining necessary administrative approval cum ex-post-facto sanction of the Competent Authority for making the payment to <b>[[${diaryEntry.hospital.hospitalName}]], [[${diaryEntry.hospital.hospitalAddress}]]</b> may kindly be obtained and conveyed to this office at the earliest.
    </p>

    <p style='text-indent:8%;text-align:justify;' th:inline="text">
        Funds for this purpose are available under head <b><b>[[${diaryEntry.fundsHead}]]</b></b> during the Current Financial Year <b>[[${diaryEntry.financialYear}]]</b>.
    </p>

    <p style='margin-top:30px;'><u><b>HAG/[[${diaryEntry.branchCode}]]</b></u></p>
    <p style='margin-top:30px;'><u><b>INSPR. (ADMIN)/[[${diaryEntry.branchCode}]]</b></u></p>
    <p style='margin-top:30px;'><u><b>ACP/HQ/[[${diaryEntry.branchCode}]]</b></u></p>
</div>
</div>
</body>

</html>