<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"></link>
    <title>Medical Claim</title>
    <link th:href="@{/css/notesheetStyles.css}" rel="stylesheet"></link>
</head>
<body>
<div class='container'>
    <div class="borderDiv">
    <div style="margin: 10px;">
        <p>
            FR: &nbsp Dy. No.<b>[[${diaryEntry.diaryNumber}]]/HAG/[[${#strings.capitalize(diaryEntry.branchCode.toLowerCase())}]]</b> dated:- <b>[[${#dates.format(diaryEntry.diaryDate, diaryEntry.dateFormat)}]]</b>
        </p>
        <div>
            <table style='width:100%;margin-top:10px;'>
                <tr>
                    <td style='vertical-align:top'><b>Subject:-</b></td>
                    <td style='text-align:justify;' th:inline="text"><b>An application submitted by [[${diaryEntry.displayName}]] to provide credit facility for treatment of <th:block th:if="${diaryEntry.claimDetails.relation.name} == 'SELF'" th:text="${diaryEntry.applicant.gender.getHimSelfOrHerself()}"/><th:block th:if="${diaryEntry.claimDetails.relation.name} != 'SELF'" th:text="${diaryEntry.applicant.gender.getHisOrHer() + ' ' + diaryEntry.claimDetails.relation.getEnumValue()}"/>.</b></td>
                </tr>
            </table>
        </div>
        <p style='text-indent:10%; text-align:justify;margin-top:20px;'>FR alongwith its enclosure may kindly be perused vide which a request has submitted stated there in that <b> [[${diaryEntry.patientApplicantDisplay}]]</b> is admitted in <b>[[${diaryEntry.hospital.hospitalName}]], [[${diaryEntry.hospital.hospitalAddress}]]</b> on <b>[[${#dates.format(diaryEntry.claimDetails.startDate, diaryEntry.dateFormat)}]]</b> in emergency condition as mentioned in emergency certificate issued by the Hospital Authority. Hospital is empanelled under CGHS. Further the Govt. servant has requested that
            [[${diaryEntry.applicantGender.getHeOrShe()}]]
            is not in a position to bear the medical expenses for the treatment and requested for proving credit facility from the said Hospital. [[${#strings.capitalize(diaryEntry.patientGender.getHeOrShe().toLowerCase())}]] is having a valid Plastic <b>Card ID No. </b><b th:if="${diaryEntry.claimDetails.relation.name} == 'SELF'" th:text="${diaryEntry.applicant.cghsNumber}"></b>
            <b th:if="${diaryEntry.claimDetails.relation.name} != 'SELF'" th:text="${diaryEntry.claimDetails.relativeCghsNumber}"></b> and entitle for <b>[[${diaryEntry.applicant.cghsCategory.getEnumValue()}]] Ward Category</b> (Calculated as per basic pay of Govt. Servant).</p>
        <p style='text-indent:10%;text-align:justify;margin-top:20px;'>In this connection, the above said Hospital is under CGHS recognized and according to CGHS instruction vide MH & FW O.M. S11045/36/2012-CGHS (HEC) dated 01.10.2014 vide para-4 there in mentioned that all CGHS beneficiaries are entitled for credit facility for the treatment from CGHS recognized Hospital under emergency condition.</p>
        <p style='text-indent:10%;text-align:justify;margin-top:20px;'>Necessary entry has been made on Credit Facility register at <b>Sl. No. [[${diaryEntry.serialNo}]]</b>.
        </p>
        <p style='text-indent:10%; text-align:justify;margin-top:20px;' class="avoid-page-break">
            In view of the position explained above, if approved we may issue a credit facility to the above said Hospital in favour of <b>[[${diaryEntry.displayName}]]</b> to provide credit facility for the treatment of
            <b><th:block th:if="${diaryEntry.claimDetails.relation.name} == 'SELF'" th:text="${diaryEntry.applicant.gender.getHimSelfOrHerself()}"/><th:block th:if="${diaryEntry.claimDetails.relation.name} != 'SELF'" th:text="${diaryEntry.applicant.gender.getHisOrHer() + ' ' + diaryEntry.claimDetails.relation.getEnumValue()}"/>.</b>
        </p>
        <div style='margin-top:80px;'><b><u>HAG/[[${diaryEntry.branchCode}]]</u></b></div>
        <div style='margin-top:50px;'><b><u>INSPR. ADMN./[[${diaryEntry.branchCode}]]</u></b></div>
        <div style='margin-top:50px;'><b><u>ACP/HQ/[[${diaryEntry.branchCode}]]</u></b></div>
        <div style='margin-top:50px;'><b><u>DCP/HQ/[[${diaryEntry.branchCode}]]</u></b></div>
        <br/>
        <br/><br/><br/><br/>

    </div>
    </div>
</div>
</body>
</html>