<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Order</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"></link>
    <link th:href="@{/css/printstyles.css}" rel="stylesheet"></link>
</head>
<body>
<script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
<div class='container'>
    <img th:src="@{/images/img.png}" height="50" alt="" loading="lazy" style="display: block; margin: auto;" />
    <h3 style='text-align:center;'><b><u>OFFICE OF THE DY. COMMISSIONER OF POLICE: [[${diaryEntry.branchCode}]] (HQ), DELHI,</u></b></h3>
    <h3><u><b>[[${diaryEntry.branchAddress}]]</b></u></h3>
    <h3><u><b>Telephone No. [[${diaryEntry.branchPhoneNo}]]</b></u></h3>

    <p style="text-align: center">
        ____________________________________________________________________________________
    </p>
    <p style='text-align:justify; margin-top: 10px;' th:inline="text" >[[${diaryEntry.displayEndorsement}]]</p>


    <table style="border: none;width:100%">
        <tr>
            <td style="vertical-align: top;border: none;">To,</td>
            <td style="border: none;">
                <p th:inline="text" style='padding-left:5%;'><br/>The Deputy Commissioner of Police<br>General Administration, Delhi</p>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top; border: none;"><b>Subject:-</b></td>
            <td style="border: none;"><p th:inline="text" style='padding-left:5%;text-align:justify;'><b>Re-imbursement of medical claim in respect of  [[${diaryEntry.patientApplicantDisplay}]].</b></p></td>
        </tr>
    </table>
    <p style='margin:0;'>Memo,</p>

    <p th:if="${diaryEntry.claimDetails.relation.name} == 'SELF'" style='text-indent:14%;text-align:justify;'>
        Enclosed please find herewith a medical re-imbursement claim along with all original papers in respect of <b>[[${diaryEntry.patientApplicantDisplay}]]</b> vide which  [[${diaryEntry.applicantGender.getHeOrShe()}]] has intimated that [[${diaryEntry.applicantGender.getHisOrHer()}]] condition had suddenly detriorated and [[${diaryEntry.patientGender.getHeOrShe()}]]  was admitted in hospital in emergency condition
        <th:block th:if="${diaryEntry.claimDetails.isExpired} == true">and <b>expired on [[${#dates.format(diaryEntry.claimDetails.endDate, diaryEntry.dateFormat)}]]</b></th:block>
        <th:block th:if="${diaryEntry.claimDetails.isExpired} == false">on <b>[[${#dates.format(diaryEntry.claimDetails.startDate, diaryEntry.dateFormat)}]]</b></th:block>.
        As per the M.A Rules, calculation statement has been prepared and enclosed herewith.  As per the details given below:-
    </p>

    <p th:if="${diaryEntry.claimDetails.relation.name} != 'SELF'" style='text-indent:14%;text-align:justify;'>
        Enclosed please find herewith a medical re-imbursement claim along with all original papers in respect of <b>[[${diaryEntry.patientApplicantDisplay}]]</b> vide which [[${diaryEntry.applicantGender.getHeOrShe()}]] has intimated that [[${diaryEntry.applicantGender.getHisOrHer()}]] <b>[[${diaryEntry.relationSimple}]]'s</b> condition had suddenly detriorated and [[${diaryEntry.patientGender.getHeOrShe()}]]  was admitted in hospital in emergency condition
        <th:block th:if="${diaryEntry.claimDetails.isExpired} == true">and <b>expired on [[${#dates.format(diaryEntry.claimDetails.endDate, diaryEntry.dateFormat)}]]</b></th:block>
        <th:block th:if="${diaryEntry.claimDetails.isExpired} == false">on <b>[[${#dates.format(diaryEntry.claimDetails.startDate, diaryEntry.dateFormat)}]]</b></th:block>. As per the M.A Rules, calculation statement has been prepared and enclosed herewith.  As per the details given below:-
    </p>

    <table class='table w-auto small main-table'>
        <thead>
        <tr>
            <th>Rank, Name & No. treatment taken by</th>
            <th>Name of Hospital</th>
            <th>Name of Diesease</th>
            <th>Period</th>
            <th>Amount Claimed</th>
            <th>Amount Admissible</th>
        </tr>

        </thead>
        <tbody>
        <tr>
            <td>[[${diaryEntry.applicant.rank.getEnumValue()}]] [[${diaryEntry.applicant.name}]]<br/>
                No. [[${diaryEntry.applicant.beltNumber}]] <br/>
                (PIS No. [[${diaryEntry.applicant.pisNumber}]])<br/>
                ([[${diaryEntry.claimDetails.relation.getEnumValue()}]])</td>
            <td style="text-align: center;">[[${diaryEntry.hospital.hospitalName}]]</td>
            <td style="text-align: center;">[[${diaryEntry.claimDetails.disease}]]</td>
            <td style="text-align: center;">[[${#dates.format(diaryEntry.claimDetails.startDate, diaryEntry.dateFormat)}]] <br/>to <br/>[[${#dates.format(diaryEntry.claimDetails.endDate, diaryEntry.dateFormat)}]]</td>
            <td th:text="'Rs. ' + ${#numbers.formatInteger(diaryEntry.amountAsked1, 0, 'COMMA')} + '/-'"></td>
            <td th:text="'Rs. ' + ${#numbers.formatInteger(diaryEntry.amountGranted1, 0, 'COMMA')} + '/-'"></td>

        </tr>
        </tbody>
    </table>
    <p style='text-indent:14%;text-align:justify;' th:inline="text">
        Funds for this purpose are available under head <b>[[${diaryEntry.fundsHead}]]</b> during the Current Financial Year <b>[[${diaryEntry.financialYear}]]</b>.
    </p>

    <p style='text-indent:14%;text-align:justify;' th:inline="text">
        It is therefore, requested that [[${diaryEntry.applicant.gender.getHisOrHer()}]] medical re-imbursement claim may be considered sympathetically and necessary ex-post-facto permission/sanction of Competent Authority may kindly be obtained and conveyed to this office at an early date.
    </p>

    <div class="row" style="padding-top: 70px;">
        <div class="col-6">
            <p th:if="${renderSignature} == 'true'" class='row' style="margin-top: 20px;">
            <p th:if="${renderSignature} == 'true'">Encls.:- <b><u>As above</u></b>:-<br/>Submitted for favour of signatures please.</p>
            <p th:if="${renderSignature} == 'true'" style='margin-top:30px;'><u><b>HAG/[[${diaryEntry.branchCode}]]</b></u></p>
            <p th:if="${renderSignature} == 'true'" style='margin-top:30px;'><u><b>INSPR. (A)/[[${diaryEntry.branchCode}]]</b></u></p>
            <p th:if="${renderSignature} == 'true'" style='margin-top:30px;'><u><b>ACP/HQ/[[${diaryEntry.branchCode}]]</b></u>
            </p>
        </div>
        <div class="col-6">
            <div style='text-align:right;font-weight:bold;'>ACP/HQ</div>
            <div style='text-align:right;'>For DY. COMMISIONER OF POLICE,</div>
            <div style='text-align:right;'>[[${diaryEntry.branchCode}]]: (HQ) :DELHI.</div>
        </div>
    </div>
    </div>
</div>
</body>
</html>