<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Notesheet</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"></link>
    <link th:href="@{/css/notesheetStyles.css}" rel="stylesheet"></link>
</head>
<body>
<div class='container'>

    <div class="borderDiv">
    <div class="row" style="padding-bottom: 20px; padding-top: 10px;">
        <div class="col-1">
            <b>FR:-</b>
        </div>
        <div class="col-11" style="text-align:justify;">
            <b>[[${diaryEntry.displayDiaryNumber}]] regarding emergency case in respect of [[${diaryEntry.patientApplicantDisplay}]]</b>
        </div>
    </div>

    <p th:if="${diaryEntry.claimDetails.relation.name} == 'SELF'" style='text-indent:8%;text-align:justify;'>It is submitted that, <b>[[${diaryEntry.displayName}]]</b> has submitted an application in respect of <b>[[${diaryEntry.applicantGender.getHisOrHer()}]]</b> treatment for medical re-imbursement claim along with all original papers vide which [[${diaryEntry.applicantGender.getHeOrShe()}]]  has intimated that [[${diaryEntry.patientGender.getHisOrHer()}]] condition had suddenly become deteriorated and [[${diaryEntry.patientGender.getHeOrShe()}]]  was admitted in hospital in emergency
        <th:block th:if="${diaryEntry.claimDetails.isExpired} == true">and <b>expired on [[${#dates.format(diaryEntry.claimDetails.expiryDate, diaryEntry.dateFormat)}]]</b></th:block>
        <th:block th:if="${diaryEntry.claimDetails.isExpired} == false">on <b>[[${#dates.format(diaryEntry.claimDetails.startDate, diaryEntry.dateFormat)}]]</b></th:block>. As per the M.A Rules, calculation statement has been prepared and placed below which may kindly be perused <b>at Flag-"A"</b>.</p>

    <p th:if="${diaryEntry.claimDetails.relation.name} != 'SELF'" style='text-indent:8%;text-align:justify;'>It is submitted that, <b>[[${diaryEntry.displayName}]]</b> has submitted an application in respect of [[${diaryEntry.applicantGender.getHisOrHer()}]] <b>[[${diaryEntry.relationSimple}]]'s</b> treatment namely <b><th:block th:if="${diaryEntry.claimDetails.isExpired} == true">Late</th:block> [[${diaryEntry.claimDetails.relativeName}]]</b> for medical re-imbursement claim along with all original papers vide which [[${diaryEntry.applicantGender.getHeOrShe()}]]  has intimated that [[${diaryEntry.applicantGender.getHisOrHer()}]] [[${diaryEntry.relationSimple}]]’s condition has suddenly become deteriorated and [[${diaryEntry.patientGender.getHeOrShe()}]]  was admitted in hospital in emergency
        <th:block th:if="${diaryEntry.claimDetails.isExpired} == true">and <b>expired on [[${#dates.format(diaryEntry.claimDetails.expiryDate, diaryEntry.dateFormat)}]]</b></th:block>
        <th:block th:if="${diaryEntry.claimDetails.isExpired} == false">on <b>[[${#dates.format(diaryEntry.claimDetails.startDate, diaryEntry.dateFormat)}]]</b></th:block>. As per the M.A Rules, calculation statement has been prepared and placed below which may kindly be perused <b>at Flag-"A"</b>.</p>

    <table class='table w-auto small main-table'>
        <thead>
        <tr>
            <th>Rank, Name & No. treatment taken by</th>
            <th>Name of Hospital</th>
            <th>Name of Diesease</th>
            <th>Period</th>
            <th>Amount Claimed</th>
            <th>Amount Admissible</th>
        </tr>

        </thead>
        <tbody>
        <tr>
            <td>[[${diaryEntry.applicant.rank.getEnumValue()}]] [[${diaryEntry.applicant.name}]]<br/>
                No. [[${diaryEntry.applicant.beltNumber}]] <br/>
                (PIS No. [[${diaryEntry.applicant.pisNumber}]])<br/>
                ([[${diaryEntry.claimDetails.relation.getEnumValue()}]])</td>
            <td style="text-align: center;">[[${diaryEntry.hospital.hospitalName}]]</td>
            <td style="text-align: center;">[[${diaryEntry.claimDetails.disease}]]</td>
            <td style="text-align: center;">[[${#dates.format(diaryEntry.claimDetails.startDate, diaryEntry.dateFormat)}]] <br/>to <br/>[[${#dates.format(diaryEntry.claimDetails.endDate, diaryEntry.dateFormat)}]]</td>
            <td th:text="'Rs. ' + ${#numbers.formatInteger(diaryEntry.amountAsked1, 0, 'COMMA')} + '/-'"></td>
            <td th:text="'Rs. ' + ${#numbers.formatInteger(diaryEntry.amountGranted1, 0, 'COMMA')} + '/-'"></td>

        </tr>
        </tbody>
    </table>

    <p style='text-indent:8%;text-align:justify;' th:inline="text">
        In this connection it is stated that, if approved, we may request to PHQ for obtaining necessary administrative approval and ex-post facto sanction of the  Competent Authority for [[${diaryEntry.applicantGender.getHisOrHer()}]] medical re-imbursement claim may kindly be obtained and conveyed to this office at the earliest.
    </p>

    <p style='text-indent:8%;text-align:justify;' th:inline="text">
        Funds for this purpose are available under head <b>[[${diaryEntry.fundsHead}]]</b> during the Current Financial Year <b>[[${diaryEntry.financialYear}]]</b>.
    </p>

    <p style='margin-top:50px;'><u><b>HAG/[[${diaryEntry.branchCode}]]</b></u></p>
    <p style='margin-top:30px;'><u><b>INSPR. (ADMIN)/[[${diaryEntry.branchCode}]]</b></u></p>
    <p style='margin-top:30px;'><u><b>ACP/HQ/[[${diaryEntry.branchCode}]]</b></u></p>
    </div>
</div>
</body>

</html>