<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" href="#">HAG</a>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/diaryEntry' ? 'active':''}" href="/diaryEntry">Diary</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/hospitals' ? 'active':''}" href="/hospitals">Hospitals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/medicalrates' ? 'active':''}" href="/medicalrates">Medical Rates</a>
                    </li> <li class="nav-item">
                        <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/notesheets' ? 'active':''}" href="/notesheets">Notesheets</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>