<div th:fragment="navbar">
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-collapse-init data-mdb-target="#sidebarMenu"
                    aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Brand -->
            <a class="navbar-brand" href="#">
                <img th:src="@{/images/img.png}" height="25" alt="" loading="lazy" />
                <span style="font-family: Arial; font-weight: bold; background: linear-gradient(to right, red, blue); -webkit-background-clip: text; color: transparent;">HAG</span>
            </a>
        </div>

    </nav>

</div>