<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"></link>
    <title>Fund Avaibility</title>
</head>
<body>
<script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
<div class='container' style='margin-bottom:70px; margin-top:40px; font-size:1.3em;'>
    <div style='text-align:center; margin-bottom:25px;'><b><u>ORDER</u></b></div>
    <p style='text-indent:12%;text-align:justify;' th:inline="text">Ex-post facto sanction is hereby conveyed for the re-imbursement of medical expenses amounting to<b> Rs. [[${diaryEntry.amountGranted1}]]/-(Rupees [[${diaryEntry.amountGrantedInWords}]] only)</b> to <b>[[${diaryEntry.amountGrantedInWords}]]</b>for making payment to<b> [[${diaryEntry.displayName}]]</b> who has incurred the expenditure for his/her <b> [[${diaryEntry.claimDetails.relation}]].</b> treatment from his/her own poclet in accordance with the instructions contained in Ministry of Health and Family Welfare, Govt. Of India, New Ddelhi office
        memorandum Np. Rec. 24/2001/JD (M) CGHS/DELHI (P), dated 7.9.2001. <b>[[${diaryEntry.displayName}]]</b> is a bonafide beneficiary of CGHS facility.</p>
    <p style='text-indent:12%;text-align:justify;' th:inline="text">The expenditure involved should be met under head "2055-Police-05, South Distt., Medical Treatment" during the current financial year [[${diaryEntry.financialYear}]].</p>
    <p style='text-indent:12%;text-align:justify;'>This is the approval of Addl. DCP/SD.</p>
    <div style='margin-top:60px; text-align:right;'><b>ASST. COMMISSIONER OF POLICE: HQ</b></div>
    <div style='margin-bottom:15px; text-align:right;'>SOUTH DISTRICT, NEW DELHI.</div>
    <div th:inline="text" >No.[[${diaryEntry.diaryNumber}]]/ Genl. Br.(II)/SD Dated New Delhi, the [[${diaryEntry.diaryDate}]]. </div>
    <div style='margin-left:60px;margin-bottom:20px;'>Copy forwarded for information and necessary action to:-</div>
    <div>1. PAO-II, 16, Man Singh Road, New Delhi.</div>
    <div>2. Acctt./SD with one spare copy along with all relevant documents for arranging the payment to above police office/person.</div>
</div>
</body>
</html>