<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href='css/bootstrap.min.css' rel='stylesheet'>
    <title>Fund Avaibility</title>
</head>
<body>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js'></script>
<script src='js/bootstrap.min.js'></script>
<div class='container' style='margin-bottom:70px; margin-top:40px; font-size:1.3em;'>
    <div style='text-align:center; margin-bottom:25px;'><b><u>ORDER</u></b></div>
    <p style='text-indent:12%;text-align:justify;'>The Additonal Dy. Commissioner of Police/Head of Office, South-East District, New Delhi is pleased to accord ex-post-facto sanction of an amounting to<b> Rs. $value[amt_granted]/-(Rupees $rupee_word )</b> for making payment to<b> $value[rank]  $value[applicant_name] No. $value[police_station_no]</b> at approved rate of CGHS for the medical treatment of his/her<b> $value[relation].</b></p>
    <p style='text-indent:12%;text-align:justify;'>Funds to the extent of<b> Rs. $value[amt_granted]/-</b>are available under head '01.01.06 Medical Treatment' during the current financial year 2017-2018.</p>
    <div style='margin-top:60px; text-align:right;'><b>ACP/HQ</b></div>
    <div style='text-align:right;'>FOR ADDL. DY. COMMISSIONER OF POLICE,</div>
    <div style='margin-bottom:15px; text-align:right;'>SOUTH-EAST DISTRICT, NEW DELHI.</div>
    <div>No. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Genl. Br. (G-7)/SED dated, New Delhi, the </div>
    <div style='margin-left:60px;margin-bottom:20px;'>Copy forwarded to the :-</div>
    <div>1. &nbsp; &nbsp; &nbsp; PAO-11 (Delhi Police), MHA, Man Singh Road, New Delhi through<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Accountant/SED.</div>
    <div>2. &nbsp; &nbsp; &nbsp; Accountant/SED with one spare copy along with all relevant medical<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; papers/documents (in duplicate) for arranging the payment to the concerned
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; immediately.</div>
</div>
</body>
</html>