<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Notesheet</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"></link>
    <link th:href="@{/css/notesheetStyles.css}" rel="stylesheet"></link>
</head>
<body>
<div class='container'>

    <div class="borderDiv">
    <div class="row" style="padding-bottom: 20px; padding-top: 10px;">
        <div class="col-1">
            <b>FR:-</b>
        </div>
        <div class="col-11" style="text-align: justify;">
            <b>Re-imbursement of medical claim.</b>
        </div>
    </div>

    <p style='text-indent:8%;text-align:justify;' th:inline="text">
        F.R. alongwith its enclosures may kindly be perused, vide which following police personnel have stated that he has taken medical tests in respect of their dependent  from CGHS empanelled Hospital.  They have further  has further requested that the amount   was spent on the medical tests/treatment from their own pocket which may please be re-imbursed to them.
    </p>

    <p style='text-indent:8%;text-align:justify;' th:inline="text">
        A calculation sheet has been prepared in accordance with C.G.H.S. approved rates as well as package deal rates dated 1.10.2014. The DCP(HQ)/Crime is competent to accord ex-post sanction for the payment to following police personnel as under:-
    </p>

    <div>
    <table class='table table-condensed small bordered-table'>
        <thead>
        <tr>
            <th>Sl. No.</th>
            <th>Register No.</th>
            <th>Name & Belt No. Applicant</th>
            <th>Relationship</th>
            <th>Amount</th>
        </tr>

        </thead>
        <tbody>

        <tr th:each="applicant,iterStat : ${diaryEntry.referralApplicants}">
            <td th:text="${iterStat.index + 1}"></td>
            <td th:text="${applicant.registerNumber}" style="text-align: left"></td>
            <td th:text="${applicant.applicantDetails}" style="text-align: left"></td>
            <td th:text="${applicant.relation.getEnumValue()}"></td>
            <td th:text="${currencyFormatUtil.formatCurrencyInr(applicant.amount)}"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align: left;"><b>Total</b></td>

            <td><b>[[${currencyFormatUtil.formatCurrencyInr(diaryEntry.totalAdmissibleAmount)}]]</b></td>
        </tr>
        </tbody>
    </table>
    </div>

    <p style='text-indent:8%;text-align:justify;' th:inline="text">
        Keeping in view of above, DCP/HQ ([[${#strings.capitalize(diaryEntry.branchCode.toLowerCase())}]]) being Head of office is competent to the sanction amount as mentioned vide para 2/N.
    </p>

    <p style='text-indent:8%;text-align:justify;' th:inline="text">
        Funds are available under Head [[${diaryEntry.fundsHead}]] during the Current Financial Year <b>[[${diaryEntry.financialYear}]]</b>.
    </p>

    <p style='margin-top:70px;'><u><b>HAG/[[${diaryEntry.branchCode}]]</b></u></p>
    <p style='margin-top:30px;'><u><b>INSPR. (Admin)/[[${diaryEntry.branchCode}]]</b></u></p>
    <p style='margin-top:30px;'><u><b>ACP/HQ/[[${diaryEntry.branchCode}]]</b></u></p>
    <p style='margin-top:30px;'><u><b>DCP(HQ)/[[${diaryEntry.branchCode}]], Delhi</b></u></p>

    </div>
</div>
</body>

</html>