<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Order</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"></link>
    <link th:href="@{/css/printstyles.css}" rel="stylesheet"></link>
</head>
<body>
<script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
<div class='container'>

    <img th:src="@{/images/img.png}" height="50" alt="" loading="lazy" style="display: block; margin: auto;" />
    <h3 style='text-align:center;'><b><u>ORDER</u></b></h3>


    <p style='text-indent:8%;text-align:justify;' th:inline="text">
        The Deputy Commissioner of Police /[[${diaryEntry.branchName}]], Delhi is pleased to accord ex-post-facto sanction for the payment to following police personnel:-
    </p>

    <div class="row">
        <table class='table table-condensed small main-table' style='width: 100%;'>
            <thead>
            <tr>
                <th>Sl. No.</th>
                <th>Name & Belt No. Applicant</th>
                <th>Relation</th>
                <th>Amount</th>
            </tr>

            </thead>
            <tbody>

            <tr th:each="applicant,iterStat : ${diaryEntry.referralApplicants}">
                <td th:text="${iterStat.index + 1}"></td>
                <td th:text="${applicant.applicantDetails}" style="text-align: left"></td>
                <td th:text="${applicant.relation.getEnumValue()}"></td>
                <td th:text="${currencyFormatUtil.formatCurrencyInr(applicant.amount)}"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td style="text-align: left;"><b>Total</b></td>
                <td><b>[[${currencyFormatUtil.formatCurrencyInr(diaryEntry.totalAdmissibleAmount)}]]</b></td>
            </tr>

            </tbody>
        </table>
    </div>

    <p style='text-indent:8%;text-align:justify;' th:inline="text">
        The funds to the extent of <b>[[${currencyFormatUtil.formatCurrencyInr(diaryEntry.totalAdmissibleAmount)}]] ([[${diaryEntry.amountGrantedInWords}]])</b> are available under Head  [[${diaryEntry.fundsHead}]] during the Current Financial Year <b>[[${diaryEntry.financialYear}]]</b>.
    </p>

    <div style='text-align:right;font-weight:bold;margin-top:70px;'>ASSTT. COMMISIONER OF POLICE:</div>
    <div style='text-align:right;'><b>HDQRS.:[[${diaryEntry.branchCode}]]: DELHI.</b></div>


    <p th:inline="text" style="margin-top:50px;text-align: justify">
        [[${diaryEntry.displayEndorsement}]]
    </p>
    <p>Copy to the:-</p>
    <ol>
        <li style="text-align: justify;padding-left: 50px;">PAO-Delhi Police Head-Quarter New Delhi through Acctt./[[${diaryEntry.branchName}]]</li>
        <li style="text-align: justify;padding-left: 50px;">Acctt./[[${diaryEntry.branchName}]] with one spare copy along with all relevant medical papers/documents  for  necessary action.</li>
    </ol>

</div>
</body>

</html>